{% extends "template.html" %} {% block content %}
<h1>User Page</h1>
{% load static %} {% if user.is_authenticated %} welcome :{{user.username}}
<br />
<a href="{% url 'indexpage' %}">Main Page</a>
<br />
<a href="{% url 'addpet' %}">Add Pet</a>
<br />
<a href="{% url 'addpetowner' %}">Add Owner</a>

<hr />
<button id="owner">Owner search</button>
<button id="pet">Pet search</button>

<form
  action=""
  method="post"
  style="visibility: hidden"
  name="petform"
  id="petform"
>
  {% csrf_token %}

  <input type="text" name="petname" />

  <input type="submit" value="tıkla" />
</form>

<form
  action=""
  method="post"
  style="visibility: hidden"
  name="petownerform"
  id="petownerform"
>
  {% csrf_token %}

  <input type="text" name="petowenname" />

  <input type="submit" value="tıkla" />
</form>

{% for i in context2 %} {% if i.PetImage %}

<img src="{{i.PetImage.url}}" alt="My image" width="100px" height="100px" />
{% else %}
<p>No image</p>
{% endif %}
<p>
  {{i}}{{i.PetAge}}{{i.PetO}} {{i.PetName}}

  <a href="{% url 'updatepet' i.id %}">{{i.PetName}} update</a>
  <a href="{% url 'deletepet' i.id %}">{{i.PetName}} delete</a>
</p>
{% endfor %}
<br />
{% if warring %}

<p>not found</p>
{% endif%}
<script>
  $("document").ready(function () {
    $("#owner").click(function () {
      $("#petownerform").css("visibility", "visible");
      $("#petform").css("visibility", "hidden");

      console.log("owner!!");
    });

    $("#pet").click(function () {
      $("#petform").css("visibility", "visible");
      $("#petownerform").css("visibility", "hidden");
      console.log("pet!!");
    });
  });
</script>
{% endif %} {% endblock %}
